extends ./layout/index

block content
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{page}

                blockquote  Los viajes son una experiencia enriquecedora que permite a las personas explorar nuevos lugares y culturas. A través de ellos, se pueden adquirir conocimientos y perspectivas diferentes, lo que contribuye al crecimiento personal y a la comprensión del mundo.

                p Además, los viajes fomentan la conexión entre individuos, ya que permiten compartir momentos y vivencias con otros. Esta interacción puede resultar en amistades duraderas y en el intercambio de ideas y tradiciones, lo que enriquece aún más la experiencia.

                p Por último, viajar también ofrece la oportunidad de desconectar de la rutina diaria y disfrutar de la naturaleza y la diversidad del entorno. Esta pausa puede ser revitalizante, proporcionando un espacio para la reflexión y el descanso mental.

    .list-icons
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p La protección durante los desplazamientos es un aspecto fundamental que debe ser considerado por cualquier viajero. Asegurarse de contar con medidas adecuadas de seguridad puede prevenir situaciones adversas y garantizar una experiencia más placentera.