footer.container.py-5
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-contnet-md-start 
                a.nav-link(href="http:/about") Nosotros
                a.nav-link(href="http:/trips") Viajes
                a.nav-link(href="http:/testimonials") Testimoniales

        .col 
            p.copyright.text-center.text-md-right
                | Todos los derechos reservados
                span= actualYear